    <footer class="bg-black mt-8 align-bottom">
      <div class="container mx-auto">
        <p class="text-white py-4 mb-0 text-center">&copy {% year %} Jim Barnes</p>
      </div>
    </footer>
  </body>
</html>
