---
layout: post.njk
tags: post
date: 2023-06-06
title: Creating a Private Packagist and Hosting on Github
deck: This article walks you through setting up a private packagist repository using Satis and hosting it on Github.
hero: ./src/posts/private-packagist-github/hero.png
heroalt: Person typing on keyboard
---
<p class="lead">If your organization has internal PHP packages that need to be distributed, but you don't feel comfortable hosting them on <a href="https://packagist.org/" target="_blank" rel="nofollow">Packagist</a>, hosting your own private packagist can be a good solution.</p>
<p>This article will walk through the steps of setting up a private packagist repository hosted on <a href="https://pages.github.com/" target="_blank" rel="nofollow">GitHub Pages</a>, using the <a href="https://github.com/composer/satis" target="_blank" rel="nofollow">Satis package</a>. We'll go through setting up the project, adding some initial repositories and reviewing the basic commands for adding, updating and removing packages. In future posts, we'll work on automating updates using GitHub workflows.</p>
<section id="repo-setup">
  <h2>Setting Up the Respository</h2>
  <p>To get setup, you'll want to ensure you have a <a href="https://www.php.net/supported-versions.php" target="_blank" rel="nofollow">supported version of PHP</a> and <a href="https://getcomposer.org/" target="_blank" rel="nofollow">composer</a> installed. Choose a project location, create the directory and run the initialization script provided by Satis.</p>
  {% highlight "bash" %}
$ mkdir ~/Projects/packagist-repo
$ composer create-project composer/satis:dev-main ~/Projects/packagist-repo
$ cd ~/Projects/packagist-repo
  {% endhighlight %}
  <p>This will generate the boilerplate code necessary to manage the project. Since we will ultimatey be hosting this repository on Github, let's go ahead and initialize the repository and add a <code>.gitignore</code> file.</p>
  {% highlight "bash" %}
$ git init
$ touch .gitignore
  {% endhighlight %}
  <p>There are a variety of <code>.gitignore</code> configurations you can use for PHP/composer projects, but for the sake of simplicity, the following should do the trick:</p>
  {% highlight "gitignore" %}
.DS_Store
composer.phar
/vendor/
  {% endhighlight %}
  <p>At this point we need to decide where our repository will be hosted. If you're not using a custom domain, the site will be hosted at a default location that uses the pattern <code>https://&lt;username&gt;.github.io/&lt;respository-name&gt;</code>. So with the username of "bobby" and the repository name "packagist-repo", the site would be hosted at <code>https://bobby.github.io/packagist-repo</code>. We'll use that username/repo combination in the example code below.</p>
  <p>To initialize the repository, we'll use a built-in command:</p>
  {% highlight "bash" %}
$ php bin/satis init

  Welcome to the Satis config generator

This command will guide you through creating your Satis config.

Repository name: bobby/packagist-repo
Home page: https://bobby.github.io/packagist-repo

  Your configuration file successfully created!

You are ready to add your package repositories
Use satis add repository-url to add them.
  {% endhighlight %}
  <p>This will create a <code>satis.json</code> file in the root of your project. This is where your repository configuration will be stored. It should look something like this:</p>
  {% highlight "json" %}
{
    "name": "bobby/packagist-repo",
    "homepage": "https://bobby.github.io/packagist-repo",
    "repositories": [],
    "require-all": true
}
  {% endhighlight %}
  <p>Since we want to build the site to the <code>docs/</code> directory by default, we can add this to our configuration file.</p>
  {% highlight "diff-json" %}
{
    "name": "bobby/packagist-repo",
    "homepage": "https://bobby.github.io/packagist-repo",
    "repositories": [],
+   "output-dir": "docs/",
    "require-all": true
}
  {% endhighlight %}
  <p>We're not ready to build our project and make our first commit. The site won't have any packages listed, but this will allow us to make sure everything is working as expect.</p>
  {% highlight "bash" %}
$ php bin/satis build
# The command will target satis.json by default,
# and we've configured the output directory in the satis.json.
# If we needed to specify an output directory, we could use the following command:
$ php bin/satis build satis.json docs/
  {% endhighlight %}
  <p>After running the command, you should see a fully generated static site in the <code>docs/</code> directory!</p>
  {% highlight "bash" %}
docs/
  include/
    all$relativelylonghash.json
  index.html
  packages.json
  {% endhighlight %}
  <p>It will include an index page and a directory named <code>include/</code> that will have the JSON files that describe each of your packages. Since we currently don't have any packages, only the <code>all$&lt;hash&gt;.json</code> file is currently in this directory. Let's go ahead and finish setting up by commiting our code to a repository (this assumes you've already setup the GitHub repository).</p>
  {% highlight "bash" %}
$ git add --all
$ git commit -m "Initial commit"
$ git remote add origin git@github.com:bobby/packagist-repo.git
$ git push -u -f origin main
  {% endhighlight %}
</section>
<section id="github-pages">
  <h2>Setting Up GitHub Pages</h2>
  <p>Now that we have the repository and the initial HTML created, we need to get the site up and running on GitHub using their Pages feature. As noted above, for this example we'll be using the <code>docs/</code> directory to store our HTML files, which is a well established pattern for hosting GitHub pages. To get things setup, head to the Settings page of your repository and select "Pages" from the left navigation. You should be presented with the following options:</p>
  <figure>
    {% image "mb-2 w-9/12", "./src/posts/private-packagist-github/gh-pages.jpg", "Screenshot of the GitHub pages setting for a repository" %}
    <figcaption class="mb-4 text-gray-500">Screenshot of the GitHub Pages settings for a repository.</figcaption>
  </figure>
  <p>In order to configure our GitHub Pages, we're going to want to "Deploy from a branch" and in most cases we will want this to be the <code>main</code> branch. Once you've selected the branch, an additional dropdown will appear asking you which directory you want to serve up, with the <code>/(root)</code> directory being the default. Update this to <code>docs/</code>.</p>
  <figure>
    {% image "mb-2 w-9/12", "./src/posts/private-packagist-github/gh-pages-branch-dir.jpg", "Screenshot of the branch and directory configuration" %}
    <figcaption class="mb-4 text-gray-500">Screenshot of the branch and directory configuration.</figcaption>
  </figure>
  <p>Once you've clicked the Save button, the initialization process will begin. Once it has completed, you should see a link to your live site on the GitHub Pages setting page.</p>
</section>
<section id="conclusion">
  <h2>Closing Thoughts</h2>
  <p>If you've made it this far, congratulations! You now have a working packagist repository hosted on GitHub pages. Of course, we haven't yet added any packages to our repository, but we will be knocking that out in my next post, along with some basic automation using GitHub workflows.</p>
  <p>To review, we were able to accomplish the following in this article:</p>
  <ul>
    <li><a href="#repo-setup">Initialize and configure a Satis repository for tracking our composer packages</a></li>
    <li><a href="#github-pages">Setup and deploy our repository to GitHub Pages so it can be accessed by composer projects</a></li>
  </ul>
</section>
