---
layout: base.njk
title: Code Site
ogtype: website
eleventyImport:
  collections: ["post"]
---
<h2 class="mb-4">Latest Posts</h2>
<div class="grid grid-flow-row md:grid-flow-col grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-x-4 gap-y-2">
  {% for post in collections.currentPosts.reverse() %}
  <article class="card">
    {% if post.data.image %}
    {% image "mb-2 rounded-md", post.data.image, post.data.image_alt, "100vw" %}
    {% endif %}
    <a href="{{ post.url | url }}"><span class="post-title">{{ post.data.title }}</span></a>
    <p class="post-deck">{{ post.data.excerpt }}</p>
    <ul class="inline-grid gap-2">
    {% for tag in post.data.tags|filterTagList %}
      <li class="bg-gray-500 px-2 py-1">
        <a class="text-white" href="{{ tag | getTagUrl }}">{{ tag }}</a>
      </li>
    {% endfor %}
    </ul>
  </article>
  {% endfor %}
</div>
